<section>
	<div class="h3"> 
		<%= @question.subject %> 
	</div>
	<div class="h4"> 
		<%= @question.content %> 
	</div>
</section>

<div class="vmn"> </div>


<%= render partial: "comments/list",
	locals: { 
		commentable: @question,
		comments: @question.comments
	}
%>
