<div id="bar-b" class="nav-bar row h2">
	<%= link_selpage feed_path, class: 'item' do %> 
		explore
	<% end %>
	|
	<%= link_selpage saved_path, class: 'item' do %> 
		my schedule
	<% end %>
</div>

<%= render 'events/feed' %>

<%= render partial: "shared/scroll", locals: {items: @events} %>