<div id="bar-b" class="nav-bar row h2">
	<%= link_to 'explore', feed_path, class: 'item' %> | 
	<%= link_to 'my schedule', saved_path, class: 'item' %>
</div>

<%= render 'events/feed' %>

<%= render partial: "shared/scroll", locals: {items: @events} %>
