<section>
	<% if user_signed_in? && current_user.provider != "google_oauth2" %>
		
	<% end %>
	<%= link_to 'Connect Calendar!', user_omniauth_authorize_path(:google_oauth2) %>
</section>

<section>
	<%= render 'events/feed' %>
</section>