<section>
	<%= form_tag url_for(controller: 'events', action: 'filtered'), remote: true do %>
		<%= text_field_tag :search, params[:search], placeholder: 'SEARCH!' %>
		<%= submit_tag 'SUBMIT!' %>
	<% end %>
</section>
<section>
	<%= render partial: 'events/feed' %>
</section>