<% @author_comments.each do |author_comment| %>
	<div class="row">
	  <div class="item h4"> 
	    <%= author_comment.subject %>
	  </div>
	  <div class="item h5"> 
	    <%= author_comment.content %>
	  </div>
	  	<% if can? :destroy, author_comment %>
			<%= link_to 'Destroy', author_comment, method: :delete, data: { confirm: 'Are you sure?' }, class: "item h4" %>
		<% end %>
	</div>
	<br/>
<% end %>