<% if can? :create, comment %>
  <%= form_for [owner, comment] do |f| %>
    <div class="field h4">
      <%= f.text_field :subject %>
      <br/>
    </div>
    <div class="field h4">
      <%= f.text_area :content %>
      <br/>
    </div>
    <div class="actions h3">
      <%= f.submit %>
    </div>
  <% end %>
<% end %>
