/* -------------------------------------------------------------- 
  
   Reset default browser CSS.
   
   Based on work by Eric Meyer:
   http://meyerweb.com/eric/tools/css/reset/index.html
   
-------------------------------------------------------------- */
/* v1.0 | 20080212 */
/* line 21, /Users/wolfgag/code/KNOW/know_4/devise/app/assets/stylesheets/base/meyer-reset-mod.css.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* line 30, /Users/wolfgag/code/KNOW/know_4/devise/app/assets/stylesheets/base/meyer-reset-mod.css.scss */
body {
  background: #fff;
  line-height: 1;
}

/* line 34, /Users/wolfgag/code/KNOW/know_4/devise/app/assets/stylesheets/base/meyer-reset-mod.css.scss */
ol, ul {
  list-style: none;
}

/* line 37, /Users/wolfgag/code/KNOW/know_4/devise/app/assets/stylesheets/base/meyer-reset-mod.css.scss */
blockquote, q {
  quotes: none;
}

/* line 41, /Users/wolfgag/code/KNOW/know_4/devise/app/assets/stylesheets/base/meyer-reset-mod.css.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* remember to define focus styles! */
/* line 47, /Users/wolfgag/code/KNOW/know_4/devise/app/assets/stylesheets/base/meyer-reset-mod.css.scss */
:focus {
  outline: 0;
}

/* remember to highlight inserts somehow! */
/* line 52, /Users/wolfgag/code/KNOW/know_4/devise/app/assets/stylesheets/base/meyer-reset-mod.css.scss */
ins {
  text-decoration: none;
}

/* line 55, /Users/wolfgag/code/KNOW/know_4/devise/app/assets/stylesheets/base/meyer-reset-mod.css.scss */
del {
  text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
/* line 60, /Users/wolfgag/code/KNOW/know_4/devise/app/assets/stylesheets/base/meyer-reset-mod.css.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 65, /Users/wolfgag/code/KNOW/know_4/devise/app/assets/stylesheets/base/meyer-reset-mod.css.scss */
a img {
  border: none;
}

/***** WG *****/
/* links */
/* line 70, /Users/wolfgag/code/KNOW/know_4/devise/app/assets/stylesheets/base/meyer-reset-mod.css.scss */
a {
  text-decoration: none;
  color: inherit;
}

/*****/
/***** VARS *****/
/***** https://www.google.com/webhp?sourceid=chrome-instant&ion=1&espv=2&ie=UTF-8#q=sass%20prefix%20every%20class *****/
/*****/
/***** ADDITIONAL RESET (add to meyer thing eventually) *****/
/* line 16, /Users/wolfgag/code/KNOW/know_4/devise/app/assets/stylesheets/main.css.scss */
a {
  text-decoration: none;
  color: inherit;
}

/*****/
/***** GLOBAL *****/
/* line 24, /Users/wolfgag/code/KNOW/know_4/devise/app/assets/stylesheets/main.css.scss */
.row {
  display: inline-flex;
  flex-direction: row;
}

/* line 29, /Users/wolfgag/code/KNOW/know_4/devise/app/assets/stylesheets/main.css.scss */
.col {
  display: inline-flex;
  flex-direction: column;
}

/* line 34, /Users/wolfgag/code/KNOW/know_4/devise/app/assets/stylesheets/main.css.scss */
.know .options.row {
  justify-content: space-between;
}

/* line 38, /Users/wolfgag/code/KNOW/know_4/devise/app/assets/stylesheets/main.css.scss */
.know .options.row a {
  /*margin: 0 1rem;*/
}

/***** APP LAYOUT *****/
/* line 43, /Users/wolfgag/code/KNOW/know_4/devise/app/assets/stylesheets/main.css.scss */
.top-nav.row {
  justify-content: flex-end;
  align-items: center;
  width: 100vw;
  height: 3em;
  background-color: rgba(100, 0, 0, 0.1);
}

/* line 50, /Users/wolfgag/code/KNOW/know_4/devise/app/assets/stylesheets/main.css.scss */
.top-nav.row .top-nav-item {
  margin: 0 1em;
}

/* line 54, /Users/wolfgag/code/KNOW/know_4/devise/app/assets/stylesheets/main.css.scss */
.know .page {
  margin-left: 1rem;
}

/***** TEMP *****/
/* line 59, /Users/wolfgag/code/KNOW/know_4/devise/app/assets/stylesheets/main.css.scss */
.know form {
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 1rem;
  border: 1px solid black;
}

/* line 68, /Users/wolfgag/code/KNOW/know_4/devise/app/assets/stylesheets/main.css.scss */
.know form div {
  margin: 0 0;
}

/*****/
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *


 */

