<div class="">
	<strong> <%= @user.name %> </strong>
	<span> <%= @user.email %> </span>
	<span> <%= link_to "edit", edit_user_registration_path %> </span>
	<br>
	<strong> events: </strong>
	<br>
	<%= render 'events/feed' %>
</div>