<section>
	<span class="field h1"> <%= @user.name %> </span>
	<span class="field h2"> <%= @user.email %> </span>
	<span class="options h3"> 
		<%= link_to "edit", edit_user_registration_path %> 
	</span>
</section>
<section>
	
	<br>
	<span class="h1"> events: </span>
	<br>
	<%= render 'events/feed' %>
</section>
