<% if @user == current_user %>
	<div id="bar-b" class="nav-bar row h2">
		<%= link_to "edit", edit_user_registration_path, class: "item" %>	
	</div>
<% end %>

<section>
	<span class="field h1"> <%= @user.name %> </span>
	<span class="field h2"> <%= @user.email %> </span>
</section>

<div class="vmn"> </div>

<section>
	
	<br>
	<span class="h1"> events: </span>
	<br>
	<%= render 'events/feed' %>
</section>