/* ----- ACTIVITY LIST DATETIME ----- */
.activity-list .dt 
{
	> .d 
	{
		font-family: "Avenir Next Condensed", "sans-serif";
		font-size: 0.8em;

		> date
		{
			color: rgba(100, 0, 0, 0.8);
			font-weight: normal;

			&:nth-of-type(1) {
			}
			&:nth-of-type(2) {
			}
			&:nth-of-type(3) {
			}
		}
		> b 
		{
			color: rgba(100, 0, 0, 0.3);

			&:nth-of-type(1) {
				
			}
			&:nth-of-type(2) {
			}

		}
	}
	> .t
	{
		font-family: "Avenir Next", "sans-serif";
		font-size: 1em;
		margin-left: 1em;

		> date
		{
			color: rgba(0, 0, 0, 1.0);
			font-weight: normal;

			&:nth-of-type(1) {
			}
			&:nth-of-type(2) {
			}
		}
		> b 
		{
			margin: 0 1px;
			color: rgba(100, 0, 0, 0.2);

			&:nth-of-type(1) {
			}

		}

	}
	> b
	{
		margin: 0 2px;

		&:nth-of-type(1) {
		}
	}
}
/* ----- */

/* ----- ACTIVITY-FEED ----- */
.activity-feed.col > .item.row > .svg-link
{
	/*object-fit: cover;*/
	border-radius: 50%;
}

.activity-feed.col
{
	width: 100%;
}

.activity-feed .activity-list
{
	border-left: 2px solid rgba(100, 0, 0, 0.5);
}

.activity-feed.col > .item.row
{
	justify-content: flex-start;
	align-items: center;

	/*height: $nav-bar-h * $gm;*/

	&.past 
	{
		color: rgba(100, 0, 0, 0.1);
	}

	> *
	{
	}

	> .col
	{
		justify-content: center;
		box-sizing: border-box;
		> .br 
		{
		}
	}
}
/* --- */

$list_offs_v: 3px;
$list_offs_h: -6px;
.activity-feed.col 
{ 

	> .item.row 
	{
		@include events_feed(96px, 1.0/4, 1.0/6, 1.0/6)
		{
		}
	}
	> .activity-list
	{
		margin-top: 0.25 * -96px + $list_offs_v;
		margin-left: (96px * 0.5) + (96px * 1.0/3) + $list_offs_h;
		padding-left: 96px * 0.15;
	}

	
	@include mq(0, _bps(2))
	{
		> .item.row 
		{
			@include events_feed(64px, 1.0/4, 1.0/8, 1.0/8)
			{
			}
		}
		> .activity-list
		{
			margin-top: 0.25 * -64px + $list_offs_v;
			margin-left: (64px * 0.5) + (64px * 1.0/3) + $list_offs_h;
			padding-left: 64px * 0.15;
		}
	}
	 
	@include mq(_bps(2), _bps(3))
	{
		> .item.row
		{
			@include events_feed(76px, 1.0/4, 1.0/6, 1.0/6)
			{		
			}
		}
		> .activity-list
		{
			margin-top: 0.25 * -76px + $list_offs_v;
			margin-left: (76px * 0.5) + (76px * 1.0/3) + $list_offs_h;
			padding-left: 76px * 0.15;
		}
	}
	 
	@include mq(_bps(3), 0)
	{
		> .item.row
		{
			@include events_feed(96px, 1.0/4, 1.0/6, 1.0/6)
			{	
			}
		}
		> .activity-list
		{
			margin-top: 0.25 * -96px + $list_offs_v;
			margin-left: (96px * 0.5) + (96px * 1.0/3) + $list_offs_h;
			padding-left: 96px * 0.15;
		}
	}
}

/* ----- SEARCH ----- */

/* --- SAME AS EVENT SEARCH --- */
.activity.search.row {
	width: 100%;
/*	font-size: 36px;*/
	height: 1.875em;
}

.activity.search.row input
{
	font-size: inherit;
}

.activity.search.row input[type="text"]
{
	flex-grow: 1;
	border-width: 0 1px;
}

.activity.search.row input[type="submit"]
{
	width: 5em;
	border: none;
	cursor: pointer;
}
/* --- OVERRIDE FOR ACTIVITY STYLE --- */
.activity.search.row input[type="text"]
{
	flex-grow: 1;
	border: none;
	border-bottom: 1px solid rgba(50, 0, 0, 0.05);
}

.activity.search.row input[type="submit"]
{
	width: 5em;
	border: none;
	cursor: pointer;
	background: rgba(50, 0, 0, 0.05);
}

/* ----- */