/*
	FULL CALENDAR:
	globals:
		.fc
		.fc-row
		.fc th, .fc td 
	#calendar -> <my container>
	{
		.fc-view-container
			.fc-view
				table
					thead.fc-head
						...
					tbody.fc-body
						...
	}
*/



$fc-font-i: 4;
$month-row-height: 4em;

[data-fc-view="month"]
{
	@include mq(0, 				nth($bps, 2))
	{

	}
	@include mq(nth($bps, 2), 	nth($bps, 3))
	{

	}
	@include mq(nth($bps, 3), 	nth($bps, 4))
	{

	}
	@include mq(nth($bps, 4), 	0)
	{

	}
	
}
[data-fc-view="basicWeek"]
{
	@include mq(0, 				nth($bps, 2))
	{
	}
	@include mq(nth($bps, 2), 	nth($bps, 3))
	{

	}
	@include mq(nth($bps, 3), 	nth($bps, 4))
	{

	}
	@include mq(nth($bps, 4), 	0)
	{
		
	}
}
[data-fc-view="agendaDay"]
{
	@include mq(0, 				nth($bps, 2))
	{

	}
	@include mq(nth($bps, 2), 	nth($bps, 3))
	{

	}
	@include mq(nth($bps, 3), 	nth($bps, 4))
	{

	}
	@include mq(nth($bps, 4), 	0)
	{
		
	}
}


#calendar
{
	/* - font -> h4 - */
	@include sizes($fc-font-i, "font-size");

	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top: $vmn;
	padding-top: inherit; /* --- from page --- */
	margin: 0 auto;
}


#calendar[data-fc-view="month"] .fc-row.fc-week 
{
	height: $month-row-height;
}

/*#calendar:before {
		display: block;
		content: "";
		height: $vmn;
	};*/

#calendar .fc-day-header 
{
	@include sizes(4, "font-size");
	padding: .8em 0 !important;
	
	&.fc-sun, &.fc-mon
	{
	}
}

#calendar .fc-today 
{
	/* - overrides - */
	background-color: initial;
	border-style: initial;
	/* ----- */

	background-color: rgba(100, 0, 0, 0.02);
}


/* ----- RESPONSIVE SIZES ----- */
#calendar 
{
	&[data-fc-view="month"]
	{
		/*font-size: ; should be less when it gets small */
		max-height: 133.3vw;
	}
	
	@include mq(0, nth($bps, 2))
	{
		top: 0;
		&[data-fc-view="agendaDay"]
		{
			max-width: none;
			max-height: none;
			padding-bottom: 0;

		}
		&[data-fc-view="month"]
		{
			max-height: none;
		}
	}

	@include mq(nth($bps, 3) + 1, nth($bps, 4)) 
	{
		max-width: 800px;
		max-height: none;
		padding-bottom: 49px;
		&[data-fc-view="basicDay"]
		{
			
		}
		&[data-fc-view="agendaDay"]
		{
			
		}
		&[data-fc-view="month"] 
		{
		}
	}
	@include mq(nth($bps, 4) + 1, 0) 
	{
		max-width: 960px;
		padding-bottom: 59px;
		/*max-height: 590px;*/
		&[data-fc-view="agendaDay"]
		{
		}	
		&[data-fc-view="basicDay"]
		{
		}	
		
	}
}

/* --- AGENDA view overrides ----- */
[data-fc-view="agendaDay"], [data-fc-view="agendaWeek"] {
	table {
		height: 100% !important;
	}

	.fc-time-grid {
		height: 100% !important;
		.fc-slats {
			height: 100% !important;
		}
	}

	.fc-axis {
		vertical-align: top !important;
	}		
}	

/* --- AGENDA view label style CLEAN THIS UP--- */

/* - temporarily removed - */
[data-fc-view="agendaDay"], [data-fc-view="agendaWeek"] {
	.fc-axis {
		display: none;
	}
}

/* - filler - */
/*[data-fc-view="agendaDay"], [data-fc-view="agendaWeek"] {

	.fc-axis {
		overflow: hidden;
		padding: 0 3px;

		font-size: 1.5em;
		font-weight: normal;
		> span {
			color: rgba(80, 0, 0, 0.4);
			position: relative;
			top: -0.3em;
			right: -2px;
		}
	}
}*/

/* - better but incomplete - */
/*[data-fc-view="agendaDay"], [data-fc-view="agendaWeek"] {

	.fc-widget-content {
		border-left: none;
	}
	.fc-axis {
		overflow: visible;
		padding: 0 3px;

		font-size: 16px;
		font-weight: normal;
		border: none;
		> span {
			color: rgba(100, 0, 0, 0.1);
			position: relative;
			top: -0.5em;
			right: 0;
		}
	}
}*/

/* ----- */



#calendar-title {
	font-size: $nav-bar-h;
	color: rgba(0, 0, 0, 0.1);
	white-space: nowrap;

	position: absolute;
	left: 0;
	right: 0;
	bottom: $nav-bar-h * 0.5;
	
	display: inline-flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;
}


/* -------- UI
*
*/

/* --- toolbar --- */
#calendar > .fc-toolbar
{
	/* - reset - */
	margin-bottom: 0;
	* {
		float: none;
		clear: both;
	}
	.fc-clear {
		display: none;
	}
	/* ----- */
}

$fc-bar-h: $nav-bar-h * 0.8;
#calendar > .fc-toolbar 
{
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
	height: $fc-bar-h;
	
	display: inline-flex;
	justify-content: space-around;
	align-items: center;

	z-index: 1;
	background-color: $salmender;

	.fc-left {
		order: 0;
	}
	.fc-center {
		order: 1;
	}
	.fc-right {
		order: 2;
	}
}


/* --- buttons --- */
#calendar .fc-button
{
	background: none !important;
	border: 1px solid rgba(100, 0, 0, 0.1) !important;

	&.fc-state-disabled 
	{
		border: 1px solid rgba(0, 0, 0, 0) !important;
		background-color: rgba(0, 0, 0, 0.1) !important;
	}

	&.fc-state-active 
	{
		background-color: rgba(100, 0, 0, 0.1) !important;
	}

	/* ----- EM BUTTON FONT-SIZE ----- */
	&.fc-prev-button, &.fc-next-button {
		font-size: 1.3em;
	}
}
/*
*
* -------- */

@mixin FCEvent($fc_view, $fsize)
{
	padding: 2px 0px;
	padding-bottom: $fsize * 0.22222;
	line-height: 1.2;

	.fc-content
	{
	}
	.fc-content span
	{
	}
	.fc-content span.fc-time
	{
	}
	.fc-content span.fc-title
	{
	}

}

/* ----- EVENT STYLE
*
*/
/* --- fc's defaults --- */
.know-fcevent 
{
	font-size: 0.8em;
	line-height: 1.3;
	border-radius: 3px;

	.fc-content 
	{
		overflow: hidden;
		white-space: nowrap;
	}
}
/* ----- */

#calendar .know-fcevent 
{
	overflow: hidden;

	.fc-content 
	{
		span 
		{
			display: inline-block;
		}
		span.fc-time 
		{
		}
		span.fc-title 
		{
		}
	}

	&.know-user {
		background-color: rgba(100, 0, 0, 0.5);
		border-color: rgba(0, 0, 0, 0.0);
		color: white;
	}

	&.know-cuser {
		background-color: rgba(0, 0, 0, 0.0);
		border-color: rgba(100, 0, 0, 0.8);
		color: rgba(100, 80, 80, 1.0);
	}

	
}



/* change these colors maybe */
#calendar[data-fc-view="agendaDay"] .know-fcevent
{
	height: auto;
	font-size: 1.5em;
	line-height: 1.2;

	padding: 10px 8px;
	margin: 0px 0;


	.fc-content
	{
		span 
		{
			display: block;
		}
		.fc-time 
		{
			margin: 0 6px;
			padding-bottom: 2px;
		}
		.fc-title 
		{
			font-weight: lighter;
			padding: 0 4px;
			padding-top: 5px;
			font-size: 1.0em;

			white-space: normal;
		}
	}

	&.know-user {
		background-color: rgba(150, 90, 90, 1.0);
		color: white;
		
		border-color: rgba(255, 255, 255, 1.0);
		border-width: 6px;
		

		.fc-bg {
		/*	opacity: 1.0;
			background-color: rgba(255, 255, 255, 0.1);
			top: 1.4em;
			border-top: 1px solid rgba(0, 0, 0, 0.1);*/

		}
		.fc-time 
		{
			margin: 0 0;
			padding: 0 0;
			border-bottom: 1px solid rgba(0, 0, 0, 0.1);
		}

	}

	&.know-cuser {
		background-color: rgba(255, 255, 255, 1.0);
		border-color: rgba(100, 0, 0, 0.35);
		border-width: 3px 1px 3px 1px;
		color: rgba(100, 80, 80, 1.0);

		.fc-time 
		{
			border-bottom: 1px solid rgba(100, 0, 0, 0.2);
		}
	}
}
#calendar[data-fc-view="basicWeek"] .know-fcevent
{
	height: 8em;
	font-size: 0.6em;
	line-height: 1.2;
	padding: 2px 0px;
	padding-bottom: 1em;

	.fc-content
	{

		span
		{
			display: block;
		}
		.fc-time
		{
			margin: 0px 2px;
			border-bottom: 1px solid rgba(100, 0, 0, 0.1);

		}
		.fc-title
		{
			margin: 0 4px;
			margin-top: 2px;
			font-size: 1.1em;

			white-space: normal;
		}
	}
}

/* --- MONTH view --- */
#calendar[data-fc-view="month"] .know-fcevent
{
	font-size: 1.0em;
	line-height: 1.0;
	height: auto;
	border: none;
	margin-bottom: 1px;

	.fc-content
	{
		display: inline-flex;
		align-items: flex-end;
		width: 100%;
	}
	.fc-content span
	{
	}
	.fc-content span.fc-time
	{
		flex-basis: 3em;
		flex-grow: 0;
		flex-shrink: 0;
		font-size: 0.65em;
	}
	.fc-content span.fc-title
	{
		margin-left: 3px;
		flex-grow: 1;
		font-size: 0.65em;
		text-overflow: ellipsis;
	}
}

@include mq(0, 				nth($bps, 3)) 
{

	#calendar[data-fc-view="month"] .know-fcevent
	{
		


		.fc-content 
		{
			display: block;

		}
		.fc-content span
		{
			display: block;
			box-sizing: border-box;
		}
		.fc-content span.fc-time
		{
			border-top-left-radius: 3px;
			border-top-right-radius: 3px;
			
			padding: 1px 3px;

			white-space: nowrap;
		}
		.fc-content span.fc-title
		{
			padding-top: 2px;
			padding-bottom: 3px;

			white-space: nowrap;
		}

		&.know-user
		{
			.fc-content span.fc-time {
				/*background: rgba(100, 0, 0, 0.8);*/
				border-bottom: 2px solid rgba(0, 0, 0, 0.8);
			}
		}
		&.know-cuser
		{
			.fc-content span.fc-time {
				border-bottom: 2px solid rgba(120, 0, 0, 0.6);
			}
		}
	}
}
@include mq(nth($bps, 3), 				0) 
{
	#calendar[data-fc-view="month"] .know-fcevent
	{
		border: 1px solid rgba(100, 0, 0, 0.01);

		&.know-user 
		{
			border-width: 0 0 1px 0;

		}
		&.know-cuser
		{
			border-width: 0 0 1px 0;
		}
	}
}



#calendar[data-fc-view="month"]	.know-fcevent.know-user
{
	background-color: rgba(100, 0, 0, 0.01);
	border-color: rgba(0, 0, 0, 0.5);

	.fc-content span.fc-time
	{
		/*color: rgba(130, 0, 0, 1.0);*/
		color: rgba(0, 0, 0, 1.0);
		font-weight: medium;
		

	}
	.fc-content span.fc-title 
	{
		color: rgba(0, 0, 0, 1.0);
	}
}

#calendar[data-fc-view="month"] .know-fcevent.know-cuser
{
	background-color: rgba(0, 0, 0, 0.0);
	border-color: rgba(100, 0, 0, 0.3);

	.fc-content span.fc-time 
	{
		color: rgba(120, 0, 0, 0.7);
		font-weight: medium;

	}
	.fc-content span.fc-title 
	{
		color: rgba(50, 0, 0, 0.6);
	}
}
/* ----- */
