/* 
don't "round" colors for no reason
we are recording the colors so we can identify common themes and riff on them
not reduce variations on a shade

though if a color is really irrelevant, don't record it, just make a var based on the property for now.

a function for sustaining color with changing opacity might be cool
*/

/* faded crimson, or crimson-orange, originally transparent */
$crimsange: w_bl(rgb(100, 0, 0), 0.5);
$crimsange_a: rgba(100, 0, 0, 0.5);

$softgrey_ll: w_bl(rgb(0, 0, 0), 0.06);
$softgrey_ll_a: rgba(0, 0, 0, 0.06);

$softgrey_ml: rgba(215, 215, 215, 1.0);

/*
?temp? colors (for shame?)
*/
$crimsrown_a: rgba(60, 0, 0, 0.6);
/*
*/

/* specific colors. should be taken from a generalizes color */

$past-event-color: rgba(100, 0, 0, 0.1); /* change this prolly */

$cmmt-dark: rgba(0, 0, 0, 1.0);
$cmmt-lite: rgba(0, 0, 0, 0.35);
$cmmt-mred: rgba(230, 100, 100, 0.35);
$cmmt-content-opacity: 0.4;