form.new_comment {
	display: inline-flex;
	flex-direction: column;
	align-items: center;
	margin: -28px auto;
	box-sizing: border-box;
}

form.new_comment label {
	display: none;
}

form.new_comment input {
	border: 1px solid black;
}

/***** same shit *****/

form.new_question {
	display: inline-flex;
	flex-direction: column;
	align-items: center;
	margin: -28px auto;
	box-sizing: border-box;
}

form.new_question label {
	display: none;
}

form.new_question input {
	border: 1px solid black;
}