form.new_comment {
	display: inline-flex;
	flex-direction: column;
	align-items: center;
	margin: 0 auto;
	box-sizing: border-box;
}

form.new_comment #comment_subject {
	margin-bottom: .8em;
}

form.new_comment input {
	border: 1px solid black;
}

/***** same shit *****/

form.new_question {
	display: inline-flex;
	flex-direction: column;
	align-items: center;
	margin: 0 auto;
	box-sizing: border-box;
}

form.new_question #question_subject {
	margin-bottom: .8em;
}

form.new_question input {
	border: 1px solid black;
}