/*
	TD:
		- MQS
		- MARGIN/PADDING FROM FEED
*/

/** {
	
}*/

/* 6-10 looks good */
$tab-border-radius: 8px;
$button-border-radius: 5px;

$spacer_h: 0.5em;
$max_width: 90%;

$cmtl_ml: 3%;
$cmtl_pl: 5%;
$cmtl_lineh: 1.6;

$cmtl_border: 1px solid rgba(0, 0, 0, 0.05);

$button_hcoeff: $gm;

@function button_dim($width)
{
	$button_hcoeff: $gm;
}

@mixin button_dim($width)
{
	 /*0.625*/
	padding: $width * $button_hcoeff $width;
}


/*body {
	width: 400px;
}*/

@mixin cmtl_dim($cmtl_s)
{
	margin-left: $cmtl_ml;
	padding-left: $cmtl_pl;

	.item {
		margin: $cmtl_s/2 0;
		line-height: $cmtl_lineh;

		.username {
		}
		.content {
			max-width: $max_width;
		}
		.options {
			line-height: 1;
			margin-top: $cmtl_lineh * 2px;
		}
	}
}

@mixin cmtl_form_dim($cmtl_s)
{
/* wide header */
/*margin: $cmtl_s/2 0;
width: 100%;*/

	margin: $cmtl_s/2 $cmtl_ml;
	width: $max-width;

	> * {
		margin-top: $spacer_h;
	}
	#comment_comment {
		
		width: 100%;
	}
	input[type="submit"] {
		width: 40%;
		padding: 0.4em 0;
	}
}

.tabs {
/* wide header */
/*	width: 100%;*/
/*margin: 0 0;*/

	width: $max-width;
	 /*all?*/
	margin: 0 $cmtl_ml;
	justify-content: space-between;

	border-radius: $tab-border-radius;
	border: 2px solid $softgrey_ll_a;
	overflow: hidden;

	> * {
		flex-grow: 1;

/*		border: 2px solid $softgrey_ll_a;*/
		
		/*padding: 0.21em 0.34em;*/
		@include button_dim(0.6em);
		text-align: center;
	}

	> *:first-child {
/*		border-right: none;*/
/*		border-top-left-radius: $tab-border-radius;
		border-bottom-left-radius: $tab-border-radius;*/

	}
	> *:last-child {
/*		border-left: none;*/
/*		border-top-right-radius: $tab-border-radius;
		border-bottom-right-radius: $tab-border-radius;*/
	}
}

.comment-list.col {
	position: relative;
	border-left: $cmtl_border;

	.item {
		display: inline-flex;
		flex-direction: column;
		align-items: flex-start;
		align-content: center;

		

		text-align: left;

		.username {
		}
		.content {
		}
		.options {
		}
	}

	@include cmtl_dim(36px);
}

form.new_comment {
	display: inline-flex;
	flex-direction: column;
	

	> * {
	}

	#comment_comment {
		resize: none;
		border: 1px solid rgba(0, 0, 0, 0.25);
	}

	input[type="submit"] {
		border: 1px solid rgba(0, 0, 0, 0.25);
		border-radius: $button-border-radius;
	}

	@include cmtl_form_dim(36px);
}