.hidden 
{
	display: none !important;
}

.alert
{
	position: fixed;
	top: $nav-bar-h * 0.25;
	left: $nav-bar-h * 0.25;
	z-index: 101;
	opacity: 0.5;
}

/* could be function or mixin or loop or something */
svg[data-svgr="0"] {
	transform: rotate(0deg);
}
svg[data-svgr="90"] {
	transform: rotate(90deg);
}
svg[data-svgr="180"] {
	transform: rotate(180deg);
}
svg[data-svgr="270"] {
	transform: rotate(270deg);
}

/* ----- NAV ----- */
.nav-bar {
	>[data-current="true"] {
		color: $crimsange_a;
		
		&.svg-link svg {
			fill: $crimsange_a;
		}
	}
}

.nav-bar {
	> [data-state="true"] {
		color: $crimsange_a;
		
		&.svg-link svg {
			fill: $crimsange_a;
		}
	}
}

/* ----- COMMENTS LIST ----- */
/* 
--- COLOR CODING
*/

.comment-list.col .item 
{
	.username {

	}
	.content {
		opacity: $cmmt-content-opacity;
	}
	[data-drop="snd"]
	{
		display: inline-flex;
		width: 1rem;
		&[data-drop-state="false"]
		{
			letter-spacing: initial;
		}
		&[data-drop-state="true"]
		{
			letter-spacing: +3px;
		}
	}
	.options {
		display: inline-flex;
		flex-direction: row;
		justify-content: space-between;

		&[data-drop-state="false"]
		{
			display: none;
		}
		&[data-drop-state="true"]
		{
			display: inline-flex;
		}

		> * {
				margin-right: 1em;
				font-size: 1rem;
		};
	}

	&[data-fresh="true"] {
		color: $cmmt-dark;

	}
	&[data-fresh="false"] {
		color: $cmmt-lite;
	}

	&[data-role="default"] {
		.options {
			color: rgba(0, 0, 0, 0.7);

			> * {
			}
		}
	}

	&[data-owner=true][data-role="default"] {
	}

	&[data-public=false][data-owner=true] {
		 /*color: rgba(150, 120, 120, 0.6);*/
		 .options {
			color: rgba(0, 0, 0, 1.0);
			
			> * {
			}
		}
	}
}

/* 
--- SEL TABS
*/
[data-sel="rcv"] {
	width: 100%;

	&[data-sel-state='false'] {
		display: none;
	}
}

.tabs {
}

.tabs >[data-sel="snd"] {
	&[data-sel-state='true'] {
		/*color: $softgrey_ml;*/ /*rgba(0, 0, 0, 0.8);*/
		color: white;
		background-color: $softgrey_ll_a;
		font-weight: 600;
	}
	&[data-sel-state='false'] {
		color: $softgrey_ll_a;
		font-weight: 600;
	}
}


/* 
--- PAGINATOR
*/
$pagi-nav-to-page-w: 50%;
.h5[data-pagi-link]
{
	width: 100%;
	.pagination
	{
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		width: $pagi-nav-to-page-w;
		margin: 0 auto;

		> *
		{
		}

		.first, 
		.last
		{
			display: none;
		}

		.prev, 
		.next {
		}

		.page.current
		{
			color: $crimsange_a;
		}
	}

	&[data-first="true"] .prev, 
	&[data-last="true"] .next
	{
		opacity: 0.25;
	}
}
/* ---------- */

.feed.col > .item.row[data-past="true"]
{
	color: $past-event-color;
}

/* ----- ACTIVITY-LIST ----- */
.activity-list.col .item
{
	&[data-fresh=true] {

	}
	&[data-fresh=false] {
		opacity: 0.6;
	}
}

.activities.feed > .item[data-drop="snd"] {
	cursor: pointer;

	.svg-link {
		
	}
	
	&[data-drop-state="false"] {
		.svg-link
		{
			border: 3px solid rgba(100, 0, 0, 0.0);
			background: $crimsange_a;
			transform: rotate(180deg);
			svg[data-svgid="arrow_3"]
			{
				top: -3px;
				width: 14px;
				height: 14px;
			}
			svg[data-svgid="arrow_4"]
			{
				width: 20px;
				height: 20px;
			}
			svg
			{
				fill: white;
				position: relative;
			}
		}
		
	}
	&[data-drop-state="true"] {
		.svg-link
		{
			border: 3px solid $crimsange_a;
			background: none;
			transform: rotate(0deg);
			position: relative;
			svg[data-svgid="arrow_3"]
			{
				width: 15px;
				height: 15px;
			}
			svg[data-svgid="arrow_4"]
			{
				width: 20px;
				height: 20px;
			}
			svg
			{
				position: relative;
			}
		}
	}
}

/* same as toggle=true above */
.activities.feed .item[data-detail="true"]
{
	.svg-link 
	{
		border: 3px solid $crimsange_a;
		background: none;
	}

	.svg-link svg[data-svgid="letterx"]
	{
		width: 15px;
		height: 15px;
	}


	.svg-link svg[data-svgid="arrow_3"]
	{
		/*transform: rotate(270deg);*/
		width: 15px;
		height: 15px;
	}
}


.activities.feed .activity-list[data-drop="rcv"] {
	&[data-drop-state="false"]
	{
		display: none;
	}
}

/* UNUSED FUN STYLE FOR EYE SVG */
/*
.svg-link #svg-eye_1 {
	position: relative;
	fill: $crimsange_a;
	
	&[data-drop-state="false"] 
	{
		transform: rotate(180deg);
	}
	&[data-drop-state="true"] 
	{
		transform: rotate(0);
	}
}
*/
/* ---------- */
[data-drop="rcv"][data-drop-state="false"]
{
	display: none;
}
[data-drop="rcv"][data-drop-state="true"]
{
}


/* ----- INFINITE SCROLL ----- */
[data-scroll-link="1"]
{
}
[data-scroll-link="0"], [data-scroll-link="2"]
{
	display: none;
}

[data-scroll-link].loading
{
	> a 
	{
		color: rgba(30, 0, 0, 0.5);
	}
}
/* ---------- */
