.nav-bar {
	>[data-current="true"] {
		color: rgba(100, 0, 0, 0.5);
		
		&.svg-link svg {
			fill: rgba(100, 0, 0, 0.5);
		}
	}
}

.events .item[data-drop="toggle"] {
	&[data-state="true"] {
	}
}
.events .activities[data-drop="target"] {
	&[data-state="false"] {
		display: none;
	}
}