/***** NEW EVENT *****/
form.new_event {
	display: inline-flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 1rem 1.5rem;
	border: 1px solid black;

}

form.new_event .field {
	flex-grow: 1;
	margin: .5rem 0;
	font-size: 1em;

}

form.new_event input {
	/***** overrides *****/
	padding: 0 0;
	margin: 0 0;
	box-sizing: border-box;
	width: 100%;
	font-size: 1em;
	/*****/
}

form.new_event .actions {
	flex-grow: 1;
	margin: 1rem 0;
}

form.new_event .actions input {
	/***** overrides *****/
	background: none;
	border: none;
	height: 100%;
	/*****/

	background-color: rgba(100, 0, 0, 0.1);
	padding: .5rem 0;
}
/*****/