/***** EVENTS 
*/

/*
	here, space-between and the -fl -fr properties 
	are redundant.
*/
.events.feed.col {
	justify-content: space-between;
	border-top: 1px solid black;

	>.item.row {
		justify-content: space-between;
		align-items: center;

		padding: nth($fonts, 1) 1rem;
		border-bottom: 1px solid black;

		&.past {
			color: rgba(100, 0, 0, 0.1);
		}

		>.field {
			flex-basis: 0;
			flex-grow: 1;
			flex-shrink: 0;
			align-items: center;

			&.f-l {
				justify-content: flex-start;
			}

			&.f-c {
				justify-content: center;
			}

			&.f-r {
				justify-content: flex-end;
			}

			&.tags {
				word-spacing: 1em;
			}
			&.options {

			}
		}


		>.br {
			flex-basis: 0;
			flex-grow: 0.5;
		}

	}
}

/*****/

/***** COMMENTS 
*/
.comment-list.col {
	position: relative;
	align-items: center;
	.item {
		box-sizing: border-box;
		line-height: $font-base/2;
		text-align: center;

		&[data-fresh=true] {

		}
		&[data-fresh=false] {
			color: rgba(100, 0, 0, 0.3);
		}

		.subject {
			
		}
		.content {

			opacity: 0.4;
		}
		.options {
		}
	}
	>::before, &::after {
		display: block;
		content: "";
		width: 0;
		border-left: 1px solid black;
		margin: 8px auto;
		height: $font-base;
	}
}
/*****/

/***** Activities
*/
.activities.list.col
{
	.item 
	{
		&[data-fresh=true] {

		}
		&[data-fresh=false] {
			color: rgba(100, 0, 0, 0.3);
		}
	}
}
/*****/