// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "base/meyer-reset-mod.css.scss";

/***** VARS *****/
$namespace: "know";

$margins-h: 3vw;

/***** https://www.google.com/webhp?sourceid=chrome-instant&ion=1&espv=2&ie=UTF-8#q=sass%20prefix%20every%20class *****/


/***** ADDITIONAL RESET (add to meyer thing eventually) *****/
a {
	text-decoration: none;
	color: inherit;
}

.#{$namespace} {
	box-sizing: border-box;
}
/*****/

/***** GLOBAL *****/

.row {
	display: inline-flex;
	flex-direction: row;
}

.col {
	display: inline-flex;
	flex-direction: column;
}

/***** APP LAYOUT *****/
.top-nav.row {
	justify-content: flex-end;
	align-items: center;
	width: 100vw;
	height: 3em;
	background-color: rgba(100, 0, 0, 0.1);
}
.top-nav.row .top-nav-item {
	margin: 0 1em;
}

.#{$namespace} {
	font-size: 1.5rem;
	font-style: normal;
	font-weight: normal;
}

.#{$namespace} .h1 {
	font-size: 1em;
	font-weight: bold;
}

.#{$namespace} .h2 {
	font-size: .8em;
	font-weight: normal;
}

.#{$namespace} .h3 {
	font-size: .7em;
}

.#{$namespace} .h4 {
	font-size: .6em;
}

.#{$namespace} .page {
	margin: 0 $margins-h;
}

.#{$namespace} .page section {
	margin-top: 3rem;
}

/***** FEED *****/
.#{$namespace} .feed.col {
	justify-content: space-between;
	border-top: 1px solid black;
}
.#{$namespace} .feed-item.row {
	padding: 1em 0;
	border-bottom: 1px solid black;
	align-items: center;
}

.#{$namespace} .feed-item .field {
	padding: 0 1rem;
}

.#{$namespace} .feed-item .field.tags {
	margin: 0 auto;
	word-spacing: 1em;
}

.#{$namespace} .feed-item .options {
	margin-left: auto;
}

.#{$namespace} .feed-item .options * {
	padding: 0 1rem;
}
/*****/


/***** FORM *****/
.#{$namespace} form.new_event {
	display: inline-flex;
	flex-direction: column;
	justify-content: space-between;
	width: 40vw;
	padding: 1rem 1.5rem;
	border: 1px solid black;

}

.#{$namespace} form.new_event .field {
	flex-grow: 1;
	margin: .5rem 0;
	font-size: 1em;

}

.#{$namespace} form.new_event input {
	/***** overrides *****/
	padding: 0 0;
	margin: 0 0;
	box-sizing: border-box;
	width: 100%;
	font-size: 1em;
	/*****/
}

.#{$namespace} form.new_event .actions {
	flex-grow: 1;
	margin: 1rem 0;
}

.#{$namespace} form.new_event .actions input {
	/***** overrides *****/
	background: none;
	border: none;
	height: 100%;
	/*****/

	background-color: rgba(100, 0, 0, 0.1);
	padding: .5rem 0;
}
/*****/
/***** ICONS *****/
/*.#{$namespace} .icon {
	height: 4rem;
	width: 4rem;
}*/
/*****/

/***** TEMP *****/
.#{$namespace} .events.feed {
	width: 100%;
}

.#{$namespace} .events.search.row {
	width: 100%;
	height: 1.5em;
}

.#{$namespace} .events.search.row input
{
	font-size: .8em;
}

.#{$namespace} .events.search.row input[type="text"]
{
	flex-grow: 1;
	border-width: 0 1px;
}

.#{$namespace} .events.search.row input[type="submit"]
{
	width: 8rem;
	border: none;
	cursor: pointer;
}

.#{$namespace} .tags {
	color: rgba(100, 0, 0, 0.3);
}


/***** dependent files *****/
@import "schedule/schedule.css.scss";
@import "schedule/calendar.css.scss";
/*****/
