$search-border-color: rgba(10, 0, 0, 0.08);
$search-button-color: rgba(10, 0, 0, 0.8);

/* ----- SEARCH ----- */
.search.row {
	width: 100%;
/*	font-size: 36px;*/
	height: 1.875em;
}

.search.row input
{
	font-size: inherit;
}

.search.row input[type="text"]
{
	flex-grow: 1;
	border-bottom: 1px solid $search-border-color;
}

.search.row input[type="submit"]
{
	width: 5em;
	border: 1px solid $search-border-color;
	color: $search-button-color;
}
/* ----- */



