$sizes: ();
@function _sizes($i_)
{
	@return nth($sizes, $i_)
}

@mixin basis($min_) {
	$b: $min_;
	$c1: $gm;
	$sizes: (
		$b, 
		$b * $c1, 
		$b * 2,
		$b * $c1 * $c1
	);
	@content;
}

@mixin layout {
	$mgn-rl: _sizes(4);
	$nav-h: _sizes(4) * 2;
	.vmn {
		height: _sizes(2) * 2;
		/*40.45px*/
	}
	.page {
		margin: $nav-h $mgn-rl;
		margin-bottom: $nav-h * 2.0;
	}
	.img-main {
		position: absolute;
		z-index: -1;
		right: 0;
		top: 0;
		width: _sizes(3) * 8;
		height: _sizes(3) * 8;
		object-fit: cover;
		/*-webkit-clip-path: circle(20px at center);*/
	}
}

@mixin nav_bars {
	$nav-h: _sizes(4) * 2;
	.nav-bar.row {
		position: fixed;
		left: 0;
		right: 0;
		height: $nav-h;
		
		justify-content: space-around;
		align-items: center;
		background-color: rgba(100, 0, 0, 0.1);
	}
	#bar-b {
		bottom: 0;
	}

	#bar-t {
		top: 0;
		.br {
			flex-basis: 0;
			flex-grow: 1;
			@include mq(0, _bps(2))
			{
				display: none;
			}
		}

		.item {
			flex-basis:  _sizes(3); /*0.375 coeff b4*/
			height: 	 _sizes(3);
			margin: 0 	 _sizes(2); 
		}
	}

	@content;
}


@include mq(0, _bps(2))
{
	@include basis(12.5px / $gm)
	{
		@include layout;
		@include nav_bars;
	}
}
@include mq(_bps(2), _bps(4)) {
	@include basis(12.5px)
	{
		@include layout;
		@include nav_bars;
	}
}
@include mq(_bps(4), 0) {
	@include basis(12.5px * $gm)
	{
		@include layout;
		@include nav_bars;
	}
}