.know-dt 
{
	> .d 
	{
		font-family: "Avenir Next Condensed", "sans-serif";
		font-size: 0.8em;

		> date
		{
			color: rgba(100, 0, 0, 0.8);
			font-weight: normal;

			&:nth-of-type(1) {
			}
			&:nth-of-type(2) {
			}
			&:nth-of-type(3) {
			}
		}
		> b 
		{
			color: rgba(100, 0, 0, 0.3);

			&:nth-of-type(1) {
				
			}
			&:nth-of-type(2) {
			}

		}
	}
	> .t
	{
		font-family: "Avenir Next", "sans-serif";
		font-size: 1em;
		margin-left: 80px;

		> date
		{
			color: rgba(0, 0, 0, 1.0);
			font-weight: normal;

			&:nth-of-type(1) {
			}
			&:nth-of-type(2) {
			}
		}
		> b 
		{
			margin: 0 1px;
			color: rgba(100, 0, 0, 0.2);

			&:nth-of-type(1) {
			}

		}

	}
	> b
	{
		margin: 0 2px;

		&:nth-of-type(1) {
		}
	}
}