<%= content_tag :div, class: ["item", "row", "h4"],
	data: { fresh: "#{fresh?(activity)}", role: activity.parameters[:role] } do %>
	<%= date_style(activity.created_at) %> -
	<span class="title"> <%= activity.trackable.title %> </span>
<% end %>